.togglebutton {
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 70px;
    margin: 30px;
}

.togglebutton span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 0;
    height: 12px;
    background-color: #818181;
    width: 96px;
}

.togglebutton.active span {
    background-color: #D9D9D9;
}

.togglebutton span:nth-of-type(1) {
    top: 0px;
}

.togglebutton span:nth-of-type(2) {
    top: 29px;
}

.togglebutton span:nth-of-type(3) {
    top: 58px;
}

.togglebutton.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) translateX(-10px) rotate(-45deg);
    width: 96px;
}

.togglebutton.active span:nth-of-type(2) {
    opacity: 0;
}

.togglebutton.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) translateX(-10px) rotate(45deg);
    width: 96px;
}