.title {
    pointer-events: none;
    position: absolute;
    top: 5rem;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: 20rem;
    letter-spacing: -2rem;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem 0;
}

.profileimage {
    width: 25vw;
    height: 25vw;
    border-radius: 10%;
    background-color: white;
}

.maintext {
    font-size: 2rem;
    width: 50vw;
    height: 30vw;
    padding: 1rem;
    overflow: scroll;
    background: rgb(0,0,0);
    background: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,1) 45%, rgba(0,0,0,0) 100%);
}